<div class="row" style="padding-top:8%; padding-bottom:5%;
background:url(assets/files/wall.jpg) no-repeat center center;
background-size: cover; width:100%; min-height:100vh;">

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <div class="card shadow">
            <div class="card-body input-group-addon grad">

                <form name="serverForm">

                    <!-- Heading -->
                    <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
                        Add Server Monitor
                    </h2>

                    <h2 *ngIf="form.data.id > 0" class="text-primary font-weight-bold text-center">
                        Update Server Monitor
                    </h2>

                    <!-- Success Message -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success">
                        {{form.message}}
                    </div>

                    <!-- Error Message -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger">
                        {{form.message}}
                    </div>

                    <!-- CPU Usage -->
                    <div class="form-group">
                        <span><b>CPU Usage</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-microchip"></i>
                                    </div>
                                </div>

                                <input type="text" name="cpuUsage" [(ngModel)]="form.data.cpuUsage" class="form-control"
                                    placeholder="Enter CPU Usage">
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.cpuUsage}}
                        </span>
                    </div>

                    <!-- RAM Usage -->
                    <div class="form-group">
                        <span><b>RAM Usage</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-memory"></i>
                                    </div>
                                </div>

                                <input type="text" name="ramUsage" [(ngModel)]="form.data.ramUsage"
                                    class="form-control" placeholder="Enter RAM Usage">
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.ramUsage}}
                        </span>
                    </div>

                    <!-- Uptime -->
                    <div class="form-group">
                        <span><b>Uptime</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-clock"></i>
                                    </div>
                                </div>

                                <input type="text" name="uptime" [(ngModel)]="form.data.uptime" class="form-control"
                                    placeholder="Enter Uptime">
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.uptime}}
                        </span>
                    </div>

                    <!-- Status -->
                    <div class="form-group">
                        <span><b>Status</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-server"></i>
                                    </div>
                                </div>

                                <select name="status" [(ngModel)]="form.data.status" class="form-control">

                                    <option value="undefined">-- Select Status --</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                    <option value="Down">Down</option>

                                </select>
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.status}}
                        </span>
                    </div>

                    <!-- Buttons -->
                    <div class="row pt-2 pl-2 pb-3">

                        <div class="col-md-2"></div>

                        <!-- Save -->
                        <button *ngIf="!form.data.id" (click)="submit()" class="btn btn-success mr-2">
                            Save
                        </button>

                        <!-- Reset -->
                        <button *ngIf="!form.data.id" type="button" (click)="reset()" class="btn btn-dark mr-2">
                            Reset
                        </button>

                        <!-- Update -->
                        <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                            Update
                        </button>

                        <!-- List -->
                        <a class="btn btn-warning" [routerLink]="['/servermonitorList']">
                            List
                        </a>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>