<div class="row" style="padding-top:8%; padding-bottom:5%;
  background:url(assets/files/wall.jpg) no-repeat center center;
  background-size: cover; width:100%; min-height:100vh;">

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body input-group-addon grad">

                <form name="scanHistoryForm">

                    <!-- Heading -->
                    <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
                        Add Scan History
                    </h2>

                    <h2 *ngIf="form.data.id > 0" class="text-primary font-weight-bold text-center">
                        Update Scan History
                    </h2>

                    <!-- Success Message -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success">
                        {{form.message}}
                    </div>

                    <!-- Error Message -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger">
                        {{form.message}}
                    </div>

                    <!-- QR Code -->
                    <div class="form-group">
                        <span><b>QR Code</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-qrcode"></i>
                                    </div>
                                </div>

                                <input type="text" name="qrCode" [(ngModel)]="form.data.qrCode" class="form-control"
                                    placeholder="Enter QR Code">

                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.qrCode}}
                        </span>
                    </div>

                    <!-- Scanned By -->
                    <div class="form-group">
                        <span><b>Scanned By</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>

                                <input type="text" name="scannedBy" [(ngModel)]="form.data.scannedBy"
                                    class="form-control" placeholder="Enter Scanner Name">

                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.scannedBy}}
                        </span>
                    </div>

                    <!-- Scan Date -->
                    <div class="form-group">
                        <span><b>Scan Date</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                                <input type="date" name="scanDate" [(ngModel)]="form.data.scanDate"
                                    [ngModel]="form.data.scanDate | date:'yyyy-MM-dd'" class="form-control">

                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.scanDate}}
                        </span>
                    </div>

                    <!-- Status -->
                    <div class="form-group">
                        <span><b>Status</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-toggle-on"></i>
                                    </div>
                                </div>

                                <select class="form-control" name="status" [(ngModel)]="form.data.status">

                                    <option value="undefined">Select Status</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>

                                </select>

                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.status}}
                        </span>
                    </div>

                    <!-- Buttons -->
                    <div class="row pt-2 pl-2 pb-3">

                        <div class="col-md-3"></div>

                        <!-- Save -->
                        <button *ngIf="!form.data.id" (click)="submit()" class="btn btn-success mr-2">

                            Save
                        </button>

                        <!-- Reset -->
                        <button *ngIf="!form.data.id" (click)="reset()" class="btn btn-dark mr-2">

                            Reset
                        </button>

                        <!-- Update -->
                        <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">

                            Update
                        </button>

                        <!-- List -->
                        <a class="btn btn-warning" [routerLink]="['/qrscannerList']">

                            List
                        </a>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>