<app-navbar></app-navbar>

<div class="content-wrapper"
  style="padding-top: 7%; background: url(assets/files/gettyimages-1132439283-640x640.jpg) no-repeat center center;
  background-attachment: fixed; background-size: cover; width:auto; min-height:100vh;">

  <div class="container-fluid">

    <!-- Alert Messages -->
    <div *ngIf="form.message && form.error === true"
      class="alert alert-danger alert-dismissible text-center mx-auto"
      style="max-width: 600px; width: 80%; margin-bottom: 15px;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{form.message}}
    </div>

    <div *ngIf="form.message && form.error === false"
      class="alert alert-success alert-dismissible text-center mx-auto"
      style="max-width: 600px; width: 80%; margin-bottom: 15px;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{form.message}}
    </div>

    <!-- Panel -->
    <div class="panel panel-primary" *ngIf="form.list.length > 0">

      <!-- Heading -->
      <div class="panel-heading text-center" style="height:50px;">
        <h1 class="text-primary font-weight-bold">{{'Subject List' | translate}}</h1>
      </div>

      <!-- Search Row (User style) -->
      <div class="row align-items-center mb-3 p-2">

        <div class="col-sm-3 mb-2 mb-sm-0">
          <input type="text" class="form-control"
            [(ngModel)]="form.searchParams.name"
            placeholder="{{'Search Subject' | translate}}">
        </div>

        <div class="col-sm-3 mb-2 mb-sm-0">
          <input type="text" class="form-control"
            [(ngModel)]="form.searchParams.courseName"
            placeholder="{{'Search Course' | translate}}">
        </div>

       
        <div class="col-sm-3 d-flex justify-content-end flex-wrap gap-2">
          <button (click)="search()" class="btn btn-primary">{{'Buttons.Search' | translate}}</button>&nbsp;&nbsp;&nbsp;
          <button (click)="reset()" class="btn btn-secondary">{{'Buttons.Reset' | translate}}</button>&nbsp;&nbsp;&nbsp;
          <button (click)="forward('/subject')" class="btn btn-success">{{'Add Subject' | translate}}</button>
        </div>

      </div>

      <!-- Table -->
      <div class="table-responsive" *ngIf="form.list.length > 0">
        <table class="table table-bordered table-dark table-hover font-weight-bold">

          <thead class="thead-dark text-uppercase" align="center">
            <tr>
              <th>
                <input type="checkbox"
                  [(ngModel)]="isMasterSel"
                  (change)="checkUncheckAll($event)" />
              </th>
              <th>{{'S.No.' | translate}}</th>
              <th>{{'Name' | translate}}</th>
              <th>{{'Course' | translate}}</th>
              <th>{{'Description' | translate}}</th>
              <th>{{'Edit' | translate}}</th>
            </tr>
          </thead>

          <tbody align="center">
            <tr *ngFor="let m of form.list; let i = index">

              <td>
                <input type="checkbox"
                  #checkboxes
                  (change)="checklistUpdate()"
                  [id]="m.id"
                  [value]="isMasterSel" />
              </td>

              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ m.name }}</td>
              <td>{{ m.courseName }}</td>
              <td>{{ m.description }}</td>

              <td>
                <button class="fa fa-edit text-primary"
                  (click)="forward('/subject/' + m.id)"
                  style="cursor:pointer; border:none; background:none;">
                </button>
              </td>

            </tr>
          </tbody>

        </table>
      </div>

      <!-- Pagination + Delete (User style footer) -->
      <div class="row mt-2 align-items-center">

        <div class="col text-left">
          <button (click)="previous()" [disabled]="form.pageNo == 0"
            class="btn btn-info">
            {{'Buttons.Previous' | translate}}
          </button>
        </div>

        <div class="col-10 text-center">
          <button (click)="deleteMany()" class="btn btn-danger">
            {{'Buttons.Delete' | translate}}
          </button>
        </div>

        <div class="col text-right">
          <button (click)="next()" [disabled]="form.nextListSize == 0"
            class="btn btn-info">
            {{'Buttons.Next' | translate}}
          </button>
        </div>

      </div>

    </div>

    <!-- Back Button -->
    <div class="col text-center">
      <button *ngIf="form.list.length == 0"
        (click)="reset()"
        class="btn btn-warning">
        Back
      </button>
    </div>

  </div>

  <br><br><br>
</div>