<style>
  .form-group {
    margin-bottom: 20px;
  }

    .grad {
      background-image: linear-gradient(to bottom right, rgb(32, 168, 168),
          rgb(219, 231, 237));
      background-repeat: no repeat;
      background-size: 100%;
      padding-bottom: 25px;
    }
</style>
<div class="row" style="padding-top:6%; padding-bottom:5%;
background:url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover; width:100%; height:auto;">

  <div class="col-sm-4"></div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad">

        <form name="userForm">

          <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
            {{ 'Links.AddUser' | translate }}
          </h2>

          <h2 *ngIf="form.data.id > 0" class="text-primary font-weight-bold text-center">
            {{ 'Links.UpdateUser' | translate }}
          </h2>

          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <!-- First Name -->
          <div class="form-group">
            <span><b>{{ 'FirstName' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle"></i></div>
                </div>
                <input type="text" name="fn" [(ngModel)]="form.data.firstName" class="form-control"
                  placeholder="{{ 'UserForm.Placeholders.FirstName' | translate }}">
              </div>
            </div>
            <span  style="color:red;">{{form.inputerror.firstName}}</span>
          </div>

          <!-- Last Name -->
          <div class="form-group">
            <span><b>{{ 'LastName' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
                <input type="text" name="ln" [(ngModel)]="form.data.lastName" class="form-control"
                  placeholder="{{ 'UserForm.Placeholders.LastName' | translate }}">
              </div>
            </div>
            <span style="color:red;">{{form.inputerror.lastName}}</span>
          </div>

          <!-- Login ID -->
          <div class="form-group">
            <span><b>{{ 'LoginId' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                </div>
                <input type="text" name="loginId" [(ngModel)]="form.data.loginId" [readonly]="form.data.id > 0"
                  class="form-control" placeholder="{{ 'UserForm.Placeholders.LoginId' | translate }}">
              </div>
            </div>
            <span  style="color:red;">{{form.inputerror.loginId}}</span>
          </div>

          <!-- Password -->
          <div class="form-group">
            <span><b>{{ 'Password' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-key"></i></div>
                </div>
                <input type="password" name="pwd" [(ngModel)]="form.data.password" class="form-control"
                  placeholder="{{ 'UserForm.Placeholders.Password' | translate }}">
              </div>
            </div>
            <span style="color:red;">{{form.inputerror.password}}</span>
          </div>

          <!-- Mobile -->
          <div class="form-group">
            <span><b>{{ 'Mobile' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone"></i></div>
                </div>
                <input type="text" name="phone" maxlength="10" [(ngModel)]="form.data.phone" class="form-control"
                  placeholder="{{ 'UserForm.Placeholders.Mobile' | translate }}">
              </div>
            </div>
            <span  style="color:red;">{{form.inputerror.phone}}</span>
          </div>


          <!-- Mobile -->
          <div class="form-group">
            <span><b>{{ 'AlternateMobile' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone"></i></div>
                </div>
                <input type="text" name="phone" maxlength="10" [(ngModel)]="form.data.alternateMobile"
                  class="form-control" placeholder="{{ 'UserForm.Placeholders.AlternateMobile' | translate }}">
              </div>
            </div>
            <span style="color:red;">{{form.inputerror.alternateMobile}}</span>
          </div>

          <!-- Role -->
          <div class="form-group">
            <span><b>{{ 'UserForm.Role' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
                <select class="form-control" name="roleName" [(ngModel)]="form.data.roleName">
                  <option value="undefined">{{ 'UserForm.SelectOptions.Select' | translate }}</option>
                  <option *ngFor="let obj of form.preload.roleList" [value]="obj.key">
                    {{ obj.value }}
                  </option>
                </select>
              </div>
            </div>
            <span  style="color:red;">{{form.inputerror.roleId}}</span>
          </div>

          <!-- DOB -->
          <div class="form-group">
            <span><b>{{ 'DateOfBirth' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <input type="date" name="dob" [(ngModel)]="form.data.dob" [ngModel]="form.data.dob | date:'yyyy-MM-dd'"
                  class="form-control">
              </div>
            </div>
            <span  style="color:red;">{{form.inputerror.dob}}</span>
          </div>

          <!-- Gender -->
          <div class="form-group">
            <span><b>{{ 'Gender' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-venus"></i></div>
                </div>
                <select class="form-control" name="gender" [(ngModel)]="form.data.gender">
                  <option value="undefined">{{ 'UserForm.SelectOptions.Select' | translate }}</option>
                  <option value="Male">{{ 'UserForm.SelectOptions.Male' | translate }}</option>
                  <option value="Female">{{ 'UserForm.SelectOptions.Female' | translate }}</option>
                </select>
              </div>
            </div>
            <span style="color:red;">{{form.inputerror.gender}}</span>
          </div>

          <div class="form-group">
            <span class="pt-2"><b>{{'Image' | translate }}</b>
              <!-- <option [ngValue]="" value="undefined"></option> -->
              <span *ngIf="!form.data.imageId" class="required-field"></span></span>
            <div class="col-sm-12">
              <div *ngIf="form.data.imageId">
                <img src="http://localhost:8080/User/profilePic/{{form.data.id}}" height="55px" width="80px">
              </div>
              <div *ngIf="!form.data.imageId">
                <img src="../../assets/files/default.jpg" height="55px" width="80px">
              </div>
            </div>
            
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-picture-o grey-text"></i> </div>
                </div>
                <input type="file" id="customFile" name="file" (change)="onFileSelect($event)" accept="image/*">

                <span class="alertRedColor"> {{form.inputerror.image}} </span>
              </div>
            </div>
          </div>
          <!-- Status -->
          <div class="form-group">
            <span><b>{{ 'Status' | translate }}</b></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-bell"></i></div>
                </div>
                <select class="form-control" name="status" [(ngModel)]="form.data.status">
                  <option value="undefined">{{ 'UserForm.SelectOptions.Select' | translate }}</option>
                  <option value="Active">{{ 'UserForm.SelectOptions.Active' | translate }}</option>
                  <option value="Inactive">{{ 'UserForm.SelectOptions.Inactive' | translate }}</option>
                </select>
              </div>
            </div>
            <span style="color:red;">{{form.inputerror.status}}</span>
          </div>

          <div class="row pt-2 pl-2 pb-3">
            <div class="col-md-3"></div>
            <button *ngIf="!form.data.id" (click)="submit()" class="btn btn-success mr-2">
              {{ 'UserForm.Buttons.Save' | translate }}
            </button>

            

            <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
              {{ 'UserForm.Buttons.Update' | translate }}
            </button>
            <a class="btn btn-warning" [routerLink]="['/userList']">
              {{ 'UserForm.Buttons.List' | translate }}
            </a>
          </div>

        </form>

      </div>
    </div>
  </div>

</div>