<div class="row" style="padding-top:8%; padding-bottom:5%;
background:url(assets/files/wall.jpg) no-repeat center center;
background-size: cover; width:100%; min-height:100vh;">

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body input-group-addon grad">

                <form name="testForm">

                    <!-- Heading -->
                    <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
                        Add Drone Delivery
                    </h2>

                    <h2 *ngIf="form.data.id > 0" class="text-primary font-weight-bold text-center">
                        Update Drone Delivery
                    </h2>

                    <!-- Success Message -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success">
                        {{form.message}}
                    </div>

                    <!-- Error Message -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger">
                        {{form.message}}
                    </div>

                    <!-- Drone Code -->
                    <div class="form-group">
                        <span><b>Drone Code</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-helicopter"></i>
                                    </div>
                                </div>

                                <input type="text" name="droneCode" [(ngModel)]="form.data.droneCode"
                                    class="form-control" placeholder="Enter Drone Code">
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.droneCode}}
                        </span>
                    </div>

                    <!-- Operator Name -->
                    <div class="form-group">
                        <span><b>Operator Name</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>

                                <input type="text" name="operatorName" [(ngModel)]="form.data.operatorName"
                                    class="form-control" placeholder="Enter Operator Name">
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.operatorName}}
                        </span>
                    </div>

                    <!-- Delivery Zone -->
                    <div class="form-group">
                        <span><b>Delivery Zone</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                </div>

                                <select class="form-control" name="deliveryZone" [(ngModel)]="form.data.deliveryZone">
                                    <option value="undefined">--Select City--</option>
                                    <option value="Bhopal">Bhopal</option>
                                    <option value="Indore">Indore</option>
                                    <option value="Jabalpur">Jabalpur</option>
                                    <option value="Gwalior">Gwalior</option>
                                    <option value="Ujjain">Ujjain</option>
                                    <option value="Sagar">Sagar</option>
                                    <option value="Rewa">Rewa</option>

                                </select>

                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.deliveryZone}}
                        </span>
                    </div>

                    <!-- Status -->
                    <div class="form-group">
                        <span><b>Status</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-check-circle"></i>
                                    </div>
                                </div>

                                <select class="form-control" name="status" [(ngModel)]="form.data.status">

                                    <option value="undefined">--Select Status--</option>
                                    <option value="Available">Available</option>
                                    <option value="Busy">Busy</option>
                                    <option value="Maintenance">Maintenance</option>
                                    <option value="Inactive">Inactive</option>

                                </select>

                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.status}}
                        </span>
                    </div>

                    <!-- Buttons -->
                    <div class="row pt-2 pl-2 pb-3">

                        <div class="col-md-3"></div>

                        <button *ngIf="!form.data.id" (click)="submit()" class="btn btn-success mr-2">
                            Save
                        </button>

                        <button *ngIf="!form.data.id" type="button" (click)="reset()" class="btn btn-dark mr-2">
                            Reset
                        </button>

                        <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                            Update
                        </button>

                        <a class="btn btn-warning" [routerLink]="['/droneList']">
                            List
                        </a>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>