<div class="row" style="padding-top:8%; padding-bottom:5%;
background:url(assets/files/wall.jpg) no-repeat center center;
background-size: cover; width:100%; min-height:100vh;">

    <div class="col-sm-4"></div>

    <div class="col-sm-4">

        <div class="card">

            <div class="card-body input-group-addon grad">

                <form name="recommendationForm">

                    <!-- Heading -->
                    <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
                        {{'Links.AddRecomendation' | translate}}
                    </h2>

                    <h2 *ngIf="form.data.id > 0" class="text-primary font-weight-bold text-center">
                        {{'Links.UpdateRecomendation' | translate}}
                    </h2>

                    <!-- Success Message -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success">
                        {{form.message}}
                    </div>

                    <!-- Error Message -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger">
                        {{form.message}}
                    </div>

                    <!-- Recommendation Code -->
                    <div class="form-group">

                        <span><b>{{'UserForm.RecommendationCode' | translate}}</b></span>

                        <div class="col-sm-12">

                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-code"></i>
                                    </div>
                                </div>

                                <input type="text" name="recommendationCode" [(ngModel)]="form.data.recommendationCode"
                                    class="form-control" placeholder="{{'UserForm.RecommendationCode' | translate}}">

                            </div>

                        </div>

                        <span style="color:red;">
                            {{form.inputerror.recommendationCode}}
                        </span>

                    </div>

                    <!-- User Name -->
                    <div class="form-group">

                        <span><b>{{'UserForm.UserName' | translate}}</b></span>

                        <div class="col-sm-12">

                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>

                                <input type="text" name="userName" [(ngModel)]="form.data.userName" class="form-control"
                                    placeholder="{{'UserForm.UserName' | translate}}">

                            </div>

                        </div>

                        <span style="color:red;">
                            {{form.inputerror.userName}}
                        </span>

                    </div>

                    <!-- Recommendation Type -->
                    <div class="form-group">

                        <span><b>{{'UserForm.RecommendationType' | translate}}</b></span>

                        <div class="col-sm-12">

                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-list"></i>
                                    </div>
                                </div>

                                <input type="text" name="recommendationType" [(ngModel)]="form.data.recommendationType"
                                    class="form-control" placeholder="{{'UserForm.RecommendationType' | translate}}">

                            </div>

                        </div>

                        <span style="color:red;">
                            {{form.inputerror.recommendationType}}
                        </span>

                    </div>

                    <!-- Status -->
                    <div class="form-group">

                        <span><b>{{'RecommendationList.Status' | translate}}</b></span>

                        <div class="col-sm-12">

                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-info-circle"></i>
                                    </div>
                                </div>

                                <select name="status" [(ngModel)]="form.data.status" class="form-control">

                                    <option value="undefined">--Select Status--</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>

                                </select>

                            </div>

                        </div>

                        <span style="color:red;">
                            {{form.inputerror.status}}
                        </span>

                    </div>

                    <!-- Buttons -->
                    <div class="row pt-2 pl-2 pb-3">

                        <div class="col-md-3"></div>

                        <button *ngIf="!form.data.id" (click)="submit()" class="btn btn-success mr-2">

                            {{'UserForm.Buttons.Save' | translate}}

                        </button>

                        <button *ngIf="!form.data.id" type="button" (click)="reset()" class="btn btn-dark mr-2">

                            {{'UserForm.Buttons.Reset' | translate}}

                        </button>


                        <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">

                            {{'UserForm.Buttons.Update' | translate}}

                        </button>

                        <a class="btn btn-warning" [routerLink]="['/recomendationList']">

                            {{'UserForm.Buttons.List' | translate}}

                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>