<div class="row" style="padding-top:8%; padding-bottom:5%;
background:url(assets/files/wall.jpg) no-repeat center center;
background-size: cover; width:100%; min-height:100vh;">

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body input-group-addon grad">

                <form name="testForm">

                    <!-- Heading -->
                    <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
                         {{ 'Links.AddPetAdoption' | translate }}
                    </h2>

                    <h2 *ngIf="form.data.id > 0" class="text-primary font-weight-bold text-center">
                         {{ 'Links.UpdatePetAdoption' | translate }}
                    </h2>

                    <!-- Success Message -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success">
                        {{form.message}}
                    </div>

                    <!-- Error Message -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger">
                        {{form.message}}
                    </div>

                    <!-- Pet Name -->
                    <div class="form-group">
                        <span><b>{{ 'Pet Name' | translate }}</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-paw"></i>
                                    </div>
                                </div>

                                <input type="text" name="petName" [(ngModel)]="form.data.petName" class="form-control"
                                    placeholder="{{ 'UserForm.Pet Name' | translate }}">
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.petName}}
                        </span>
                    </div>

                    <!-- Breed -->
                    <div class="form-group">
                        <span><b>{{ 'Breed' | translate }}</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-tag"></i>
                                    </div>
                                </div>

                                <input type="text" name="breed" [(ngModel)]="form.data.breed" class="form-control"
                                    placeholder="{{ 'UserForm.Breed' | translate }}">
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.breed}}
                        </span>
                    </div>

                    <!-- Age -->
                    <div class="form-group">
                          <span><b>{{ 'Age' | translate }}</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                                <input type="date" name="age" [(ngModel)]="form.data.age"
                                    [ngModel]="form.data.dob | date:'yyyy-MM-dd'" class="form-control"
                                    placeholder="{{ 'UserForm.Age' | translate }}">
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.age}}
                        </span>
                    </div>

                    <!-- Status -->
                    <div class="form-group">
                        <span><b>{{ 'Status' | translate }}</b></span>

                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-info-circle"></i>
                                    </div>
                                </div>

                                <select name="status" [(ngModel)]="form.data.status" class="form-control">
                                    <option value="undefined">"{{ 'UserForm.Status' | translate }}"</option>
                                    <option value="Available">Available</option>
                                    <option value="Adopted">Adopted</option>
                                    <option value="Pending">Pending</option>
                                </select>
                            </div>
                        </div>

                        <span style="color:red;">
                            {{form.inputerror.status}}
                        </span>
                    </div>

                    <!-- Buttons -->
                    <div class="row pt-2 pl-2 pb-3">

                        <div class="col-md-3"></div>

                        <button *ngIf="!form.data.id" (click)="submit()" class="btn btn-success mr-2">
                             {{ 'UserForm.Buttons.Save' | translate }}
                        </button>

                        <button *ngIf="!form.data.id" type="button" (click)="reset()" class="btn btn-dark mr-2">
                          {{ 'UserForm.Buttons.Reset' | translate }}
                        </button>

                        <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                            {{ 'UserForm.Buttons.Update' | translate }}
                        </button>

                        <a class="btn btn-warning" [routerLink]="['/petList']">
                            {{ 'UserForm.Buttons.List' | translate }}
                        </a>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>